    body {
        background: #fff
    }

    :root {
        --primary-blue: #0056b3;
        --dark-blue: #003d82;
        --light-gray: #f8f9fa;
        --border-gray: #dee2e6;
    }

    .banner img {
        width: 100%;
        height: auto;
        object-fit: cover
    }

    .product-card {
        border: 1px solid #ddd;
        padding: 15px;
        border-radius: 6px;
        background: #fff;
        text-align: center
    }

    .product-card img {
        width: 100%;
        height: 180px;
        object-fit: cover
    }

    .pagination button {
        border: none;
        background: none;
        padding: 6px 10px
    }

    /* Hover underline for navbar links */
    .navbar-nav .nav-link {
        position: relative;
        transition: color 0.3s;
    }

    .navbar-nav .nav-link::after {
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        /* thickness of underline */
        bottom: 0;
        left: 0;
        background-color: #0870d1;
        /* underline color */
        transition: width 0.3s;
    }

    .navbar-nav .nav-link:hover::after {
        width: 100%;
    }